.el-submenu .el-menu-item {
    font-size: 14px;
    padding-left: 50px !important;
    &.is-active {
        background-color: #f37b5636 !important;
    }
}
//修改一级菜单样式
li.el-submenu {
    &.is-active.is-opened .el-submenu__title {
        background-color: $mainColor !important;
    }
}

.close {
    .el-submenu {
        &.is-opened {
            > .el-submenu__title {
                background-color: $mainColor !important;
            }
            i {
                color: #fff;
            }
        }
    }
}
.el-menu--vertical {
    .el-menu-item {
        background-color: #fff !important;
        color: #222 !important;
    }
    .el-menu-item:hover {
        background-color: $mainColor !important;
    }
}
